@import './responsive.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Fira Sans;
}

.content-wrap {
  padding: 30px 10em;
  display: flex;
  @include respond-to('phone') {
    flex-direction: column;
    padding: 0 20px;
  }
}